@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: prompt, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #1a2456;
    width: 100%;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    flex: wrap;
    gap: 0 10px;
}

p {
    font-weight: 300 !important;
}

li {
    margin: 0 10px;
}

a {
    color: #efc2b3;
    text-decoration: none;
    font-size: 12px;
}



.presentation,
.create {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    color: #efc2b3;
    position: relative;
}

.presentation::after {
    content: "";
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://monogramcc.com/static/9a0b554db1990565457610c5f83b3ad7/91943/shop_cta_xl_896f6b8270.webp");
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: brightness(.4);
    background-attachment: fixed;
}

.products {
    display: flex;
    justify-content: center;
    width: 100%;
}

.produtcs-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 41px;
    padding: 10px;
}

.product {
    position: relative;
    cursor: pointer;
}

.products img {
    width: 500px;
    height: 300px;

}

.image-product {
    position: relative;
}

.image-hover {
    position: relative;
    z-index: 1;
    transition: all .3s;
}

.img-hovered {
    position: absolute;
    inset: 0;
    z-index: -2;
}

.preorder {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: #ff8b68;
    padding: 3px 10px;
    font-size: 12.375px;
    text-align: center;
    color: #212529;
    letter-spacing: 1px;
    z-index: 2;
}

h3 {
    color: #0e132c;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: left;
}

.product p {
    color: #0e132c;
    font-size: 14px;
    line-height: 20px;
}

.info1 div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}


.image-hover:hover {
    opacity: 0 !important;
}

.price {
    position: relative;
    width: 20%;
    text-align: right;
}

.price-btn {
    position: absolute;
    inset: 0;
    background-color: #1a2456;
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
    opacity: 0;
    color: #fff;
    padding: 0 10px;
    border-radius: 750px;
    transition: all .2s;
    border: 1px solid #0e142f;
}

li:hover a {
    color: #e28f74;
}

.bx {
    color: rgba(255, 255, 255, 0.9) !important;
    text-align: center;
    font-size: 100px;
    margin-top: 20px;
    position: absolute;
    bottom: 200px !important;
    height: min-content;
    left: 47%;
    animation: arrow 1s alternate infinite;
    width: min-content;
}

@keyframes arrow {
    from {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(5px);
    }
}

.create {
    height: 70vh;
    width: 100% !important;
    background: url("https://monogramcc.com/static/fb6b98aa90bbce383e12a09c50936e96/9ee2a/shop-banner-module.webp");
    background-size: contain;
    background-repeat: repeat-x;
}

.create h1 {
    color: #1a2456;
    font-size: 37.5px;
    letter-spacing: 4px;
    line-height: 45px;
    text-align: center;
}


.create p {
    color: #1a2456;
    font-size: 18.75px;
    letter-spacing: 4px;
    line-height: 45px;
    text-align: center;
}

.create div {
    position: absolute;
    top: 50px;
}